@charset "UTF-8";
body {
    padding-top: 8rem;
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
    clear: both;
    height: 100%;
    width: 100%;
}
.style {
    background-color: #F5F5F5;
}
header {
    width: 50%;
    float: left;
    clear: both;
    padding-right: 1rem;
    margin-left: -2rem;
    margin-top: -3rem;
}
footer {
    clear: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    float: none;
    padding-left: 12rem;
    height: 3.5rem;
    padding-top: 0.3rem;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 3.91%,rgba(155,155,155,1.00) 88.22%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.00) 3.91%,rgba(155,155,155,1.00) 88.22%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.00) 3.91%,rgba(155,155,155,1.00) 88.22%);
    background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 3.91%,rgba(155,155,155,1.00) 88.22%);
}
#navbarSupportedContent1 img {
    width: 8rem;
}
.style footer img {
    width: 2rem;
    margin-right: 1rem;
    float: right;
    clear: none;
}
.nav-link {
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    float: none;
    text-align: center;
    margin-left: 2rem;
}
.navbar  {
    float: none;
    border: thin solid #000000;
    width: 100%;
}
.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    background-color: #000000;
    color: #FFFFFF;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    float: none;
    clear: none;
    font-size: 3rem;
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
    margin-left: -0.5rem;
}
}
.dropdown .dropdown-menu {
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}
h1 {
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
}
#navbarDropdown1  {
}
section {
    text-align: left;
    font-size: medium;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    margin-right: 8rem;
    margin-bottom: 4.5rem;
    margin-top: 0px;
}
aside {
    margin-top: 2rem;
    margin-left: 49rem;
}
.dropdown-item {
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
    float: none;
}
h3 {
    margin-left: 49rem;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: medium;
    text-align: left;
}
#homepagetext {
    margin-left: 49rem;
}
p {
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
}
#aboutH1 {
    margin-top: 2rem;
    float: none;
    margin-left: 0rem;
    margin-right: 0rem;
}
.style #aboutH1 {
}
#aboutP2 {
    margin-left: 50rem;
}
#img3 {
    width: 22%;
    height: 0%;
    float: left;
    border: 1px solid #000000;
    margin-top: 29rem;
    margin-left: -22.8rem;
    margin-bottom: 5rem;
    margin-right: 4rem;
}
fieldset {
    border: 2px solid #000000;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #000000;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
}
legend {
    background-color: #FFFFFF;
    color: #000000;
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
#form fieldset legend {
    padding-top: 2rem;
    width: 100%;
}

#aboutP1 {
    margin-top: 1rem;
    text-align: left;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    margin-right: 5rem;
}
#aboutcontactH1 {
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
    margin-top: 3rem;
    float: none;
    padding-right: 10%;
    padding-left: 50rem;
    margin-left: 2rem;
}
#footerimage {
    width: 3.5rem;
    float: left;
    text-align: left;
    margin-bottom: 0.5rem;
    position: fixed;
    bottom: 0%;
    left: 0%;
    margin-left: 1rem;
}
.style footer .contact {
    position: fixed;
    bottom: 0%;
    left: 0%;
    margin-left: 6rem;
    margin-bottom: 1rem;
    color: #000000;
}
footer .contact .contactfooter {
    color: #000000;
    text-decoration: none;
}
.contactfooter {
}
.style #img {
    width: 25%;
    height: 0%;
    float: left;
    padding-right: 0rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
    border: 1.75px solid #000000;
    margin-right: 2rem;
}
.style #img2 {
    width: 22%;
    height: 0%;
    float: left;
    margin-top: 2rem;
    margin-bottom: 6rem;
    margin-left: 0px;
    margin-right: 3rem;
    border: 1px solid #000000;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2em 2em;
}

.Image-1 { grid-area: 1 / 1 / 2 / 2; }

.image-2 { grid-area: 1 / 2 / 2 / 3; }

.image5 { grid-area: 2 / 1 / 3 / 2; }

.image-6 { grid-area: 2 / 2 / 3 / 3; }

.image-9 { grid-area: 3 / 1 / 4 / 2; }

.image-10 { grid-area: 3 / 2 / 4 / 3; }

.image-8 { grid-area: 3 / 1 / 4 / 2; }

.image-3 { grid-area: 1 / 3 / 2 / 4; }

.image-4 { grid-area: 2 / 1 / 3 / 2; }

.image-5 { grid-area: 2 / 2 / 3 / 3; }

.image-6 { grid-area: 2 / 3 / 3 / 4; }

.image-7 { grid-area: 3 / 1 / 4 / 2; }

.image-8 { grid-area: 3 / 2 / 4 / 3; }

.image-9 { grid-area: 3 / 3 / 4 / 4; }
header #h1photography  {
    margin-top: 4rem;
    clear: both;
    float: none;
    text-align: center;
    margin-left: 2.5rem;
    background-color: #000000;
    color: #FFFFFF;
    width: 62%;
}
#video1 {
    margin-top: 2rem;
    margin-bottom: 4rem;
    float: none;
}
header #videoh1 {
    margin-top: 4rem;
    margin-left: 2.5rem;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    width: 58%;
}
header #graphich1 {
    width: 76%;
    margin-top: 4rem;
    margin-left: 2.5rem;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
}
header #indesignh1 {
    width: 66%;
    margin-top: 4rem;
    margin-left: 2.5rem;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
}
header #photoshoph1 {
    background-color: #000000;
    color: #FFFFFF;
    width: 64%;
    margin-top: 4rem;
    margin-left: 2.5rem;
    text-align: center;
}
.style #carouselExampleIndicators1 {
    margin-top: 4.5rem;
}
#carouselExampleIndicators1 .carousel-inner {
    padding-top: 9rem;
    padding-bottom: 9rem;
}
.style #contactheader {
    grid-column: col-start / span 12;
    grid-row: 1;
    display: table;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    float: none;
    text-align: center;
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
}
#form  {
    grid-column: col-start / span 12;
    grid-row: 2;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.formbody  {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 20px;
    margin-top: 0rem;
    margin-right: 15rem;
    margin-left: 15rem;
    margin-bottom: 0rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 5rem;
    border: 0px;
    background-color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: montserrat;
    font-style: normal;
}
textarea {
    border: thin solid #000000;
    width: 98%;
    min-height: 10rem;
    padding-top: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.4rem;
    font-size: 0.8rem;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#submit input {
    color: #000000;
    background-color: #FAFAFA;
    font-family: coda-caption;
    font-style: normal;
    font-weight: 800;
    border: thin solid #000000;
    border-radius: 0px;
    width: 12rem;
    font-size: 1rem;
    height: 2.4rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
#submit {
    text-align: center;
    margin-bottom: 1rem;
}

label {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

select {
    color: #000000;
    border: thin solid #000000;
    padding-top: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.4rem;
    font-size: 0.8rem;
    height: 2.2rem;
    line-height: 1.2rem;
}
.style table {
    text-decoration: none;
    border-width: thick;
    border-style: none;
    margin-top: 3rem;
    margin-right: 50px;
    margin-bottom: 3rem;
    margin-left: 0.5rem;
    padding-bottom: 0px;
    width: 100%;
}
tbody tr td {
    padding-right: 1rem;
    margin-bottom: 4rem;
}
#navbarSupportedContent1 img {
}
.carousel-inner .carousel-item .d-block.mx-auto {
    width: 45%;
    margin-bottom: 4rem;
}
.style #carouselExampleIndicators1 {
    margin-bottom: 4rem;
}
table {
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    margin-top: 2rem;
    width: 100%;
}
#indesingtext {
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
}
.style .embed-responsive.embed-responsive-16by9 {
    margin-bottom: 4rem;
}
.style .grid-container {
    margin-left: 0.5rem;
    width: 100%;
    margin-bottom: 6rem;
}
table {
    margin-left: 0.5rem;
    width: 100%;
}
fieldset .across label {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 15px;
}
#fname {
    margin-left: 28px;
}
#lname   {
    margin-left: 37px;
}

@media (max-width:600px){
.style {
}
.style header img {
    padding-right: 0px;
    width: 100%;
    margin-top: 3.5rem;
}
.style footer #footerimage {
    width: 3.5rem;
}
#homepagetext {
    margin-left: 5rem;
    margin-right: -2rem;
    margin-bottom: 4rem;
}
.style aside h1 {
    margin-left: -32rem;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-right: 14rem;
}
.style #aboutP1 {
    margin-left: 14rem;
    margin-top: 2rem;
    margin-right: 1rem;
}
.style #aboutcontactH1 {
    margin-left: -36rem;
    margin-right: 1rem;
}
.style #aboutP2 {
    margin-left: 14rem;
    margin-bottom: 6rem;
}
.style #img3 {
    margin-left: -22rem;
    margin-top: 20rem;
}
.style #aboutH1 {
    margin-right: 1rem;
}
.style header #graphich1 {
    width: 120%;
    margin-top: 2rem;
}
.style #carouselExampleIndicators1 {
    margin-top: 5.5rem;
}
.style header #photoshoph1 {
    width: 110%;
    margin-top: 2REM;
}
.style #carouselExampleIndicators1 {
    margin-top: 5.5rem;
}
.style header #indesignh1 {
    width: 110%;
    margin-bottom: 1rem;
}
.style header #videoh1 {
    width: 110%;
    margin-top: 2rem;
    margin-left: 8.5rem;
}
.style header #h1photography {
    width: 110%;
    margin-top: 2rem;
    margin-left: 8.5rem;
}
.style {
    width: 50rem;
    margin-left: -6rem;
}
#lname {
    margin-left: 1.8rem;
}
#email {
    margin-left: 1.8rem;
}
#Mobile {
    margin-left: 1.8rem;
}
#form fieldset legend {
    padding-bottom: 1rem;
}
#submit input {
    width: 40%;
    margin-bottom: 1rem;
}
}

@media (min-width: 601px){
.style header img {
    width: 100%;
    margin-top: 2rem;
    margin-left: 1.8rem;
}
.style footer #footerimage {
    width: 3.5rem;
}
.style aside h1 {
    margin-left: -35rem;
    margin-right: 14rem;
}
.style #aboutP1 {
    margin-left: 16rem;
}
.style #aboutH1 {
    margin-right: 2rem;
}
.style #img3 {
    margin-left: -28rem;
    margin-top: 26rem;
}
.style #aboutcontactH1 {
    margin-left: -34rem;
}
.style #aboutP1 {
}
.style #aboutP2 {
    margin-left: 16rem;
    margin-bottom: 6rem;
}
.style section #homepagetext {
    margin-left: 3rem;
}
.style #carouselExampleIndicators1 {
    margin-top: 7.5rem;
}
.style header #graphich1 {
    margin-top: 4rem;
}
#email   {
    margin-left: 0rem;
}
#lname   {
    margin-left: 1.8rem;
}
#Mobile {
    margin-left: -0.8rem;
}
#submit input {
    width: 40%;
}
}

@media (min-width:1200px){
.style footer #footerimage {
    width: 3.5rem;
}
.style #aboutH1 {
}
.style #aboutP1 {
    margin-left: 49.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
}
.style #aboutcontactH1 {
    margin-left: -0.5rem;
}
.style #aboutP2 {
    margin-left: 49.5rem;
}
.style header #graphich1 {
    width: 80%;
}
.style #carouselExampleIndicators1 {
    margin-top: 4.5rem;
}
#Mobile {
    margin-left: -0.6rem;
}
.style aside {
    padding-top: 0px;
    margin-top: 2rem;
}
}
